.pf-c-about-modal-box {
  font-size: 1.2em;
  background-image: none;
}
.pf-c-about-modal-box__hero {
  background-image: url('../../../../assets/redhat_new_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: 70% -12px;
  background-color: #1a1a1a;
}
.pf-c-about-modal-box__strapline {
  white-space: wrap;
}
.product-versions {
  margin-top: 30px;
}
.pf-c-about-modal-box {
  overflow-y: hidden;
  width: 100%;
}
.product-versions strong {
  margin-right: 10px;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding-left: 80px;
  padding-right: 80px;
}
.modal-footer {
  border-top: none;
}
h2 {
  font-size: 2em;
}
.ceph-logo {
  width: 10%;
}
.list-unstyled li {
  margin-top: 15px;
}
.modal-footer {
  padding: 15px 80px 35px 80px;
}
.modal-body {
  margin-top: 0;
  padding-top: 0;

  h2 {
    margin-top: 0;
  }
}
