<div class="pf-c-about-modal-box" role="dialog" aria-modal="true" aria-labelledby="about-modal-title">
  <div class="pf-c-about-modal-box__brand">
    <img class="pf-c-about-modal-box__brand-image"
         src="assets/Logo-RedHat-A-Reverse-RGB.svg"
         alt="{{ projectConstants.organization }}">
  </div>
  <div class="pf-c-about-modal-box__close">
    <button class="pf-c-button pf-m-plain"
            type="button"
            aria-label="Close dialog"
            (click)="modalRef.hide()">
      <i class="fas fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="pf-c-about-modal-box__header">
    <h2 class="pf-c-title pf-m-4xl" id="about-modal-title">
      {{ projectConstants.projectName }}
    </h2>
  </div>
  <div class="pf-c-about-modal-box__hero">
  </div>
  <div class="pf-c-about-modal-box__content">
    <div class="pf-c-about-modal-box__body">
    <ul class="list-unstyled">
      <li class="row">
        <strong class="col-xs-6 col-sm-6">Version</strong>
        <span class="col-xs-6 col-sm-6">{{ projectConstants.version }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">Ceph Manager</strong>
        <span class="col-xs-6 col-sm-6">{{ hostAddr }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">User</strong>
        <span class="col-xs-6 col-sm-6">{{ modalVariables.user }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">User Role</strong>
        <span class="col-xs-6 col-sm-6">{{ modalVariables.role }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">Browser</strong>
        <span class="col-xs-6 col-sm-6">{{ modalVariables.browserName }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">Browser Version</strong>
        <span class="col-xs-6 col-sm-6">{{ modalVariables.browserVersion }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-6">Browser OS</strong>
        <span class="col-xs-6 col-sm-6">{{ modalVariables.browserOS }}</span>
      </li>
    </ul>
  </div>
    <p class="pf-c-about-modal-box__strapline">
      {{ copyright }}
      <br>
      {{ projectConstants.license }}
    </p>
  </div>
</div>
