<div class="login" *ngIf="isLoginActive">
  <div class="pf-c-login">
    <div class="pf-c-login__container">
      <header class="pf-c-login__header">
        <img class="pf-c-brand" src="assets/Logo-Red_Hat-Ceph_Storage-A-Reverse-RGB.png" alt="Red Hat Ceph Storage Dashboard">
        <p>Dashboard</p>
      </header>
      <main class="pf-c-login__main">
        <header class="pf-c-login__main-header">
          <h1 class="pf-c-title pf-m-xl">
            Welcome to Red Hat Ceph Storage Dashboard
          </h1>
        </header>
        <div class="pf-c-login__main-body">
          <form novalidate class="pf-c-form"
                name="loginForm"
                (ngSubmit)="login()"
                #loginForm="ngForm">
            <p class="pf-c-form__helper-text pf-m-error pf-m-hidden  has-feedback">
              <i class="fas fa-exclamation-circle pf-c-form__helper-text-icon" aria-hidden="true"></i>
                Invalid login credentials.
            </p>
            <div class="pf-c-form__group">
              <label class="pf-c-form__label" for="login-demo-form-username">
                Username <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
              </label>
              <input name="username"
                     [(ngModel)]="model.username"
                     #username="ngModel"
                     type="text"
                     class="pf-c-form-control form-control"
                     input="true"
                     required
                     autofocus>
              <div class="help-block"
                   *ngIf="(loginForm.submitted || username.dirty) && username.invalid"
                   i18n>Username is required
              </div>
              <div class="help-block"
                   *ngIf="!((loginForm.submitted || username.dirty) && username.invalid)"
                   i18n><br>
              </div>
            </div>
            <div class="pf-c-form__group">
              <label class="pf-c-form__label" for="login-demo-form-password">
                Password <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
              </label>
              <input id="password"
                     name="password"
                     [(ngModel)]="model.password"
                     #password="ngModel"
                     type="password"
                     class="form-control pf-c-form-control"
                     required>
              <div class="help-block"
                   *ngIf="(loginForm.submitted || password.dirty) && password.invalid"
                   i18n>Password is required
              </div>
              <div class="help-block"
                   *ngIf="!((loginForm.submitted || password.dirty) && password.invalid)"
                   i18n><br>
              </div>
            </div>
            <div class="pf-c-form__group pf-m-action">
              <button class="pf-c-button pf-m-primary pf-m-block"
                      type="submit"
                      [disabled]="loginForm.invalid">
                        Log in
              </button>
            </div>
          </form>
        </div>
      </main>
      <footer class="pf-c-login__footer">
        <ul class="pf-c-list pf-m-inline">
          <li>
            <a href="https://www.redhat.com/en/about/all-policies-guidelines">
              Terms of Use
            </a>
          </li>
          <li>
            <a href="https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/">
              Help
            </a>
          </li>
          <li>
            <a href="https://www.redhat.com/en/about/privacy-policy">
              Privacy Policy
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</div>
